# Cloud Provider Analytics
## Big Data - Demo del proyecto
En este notebook se presenta la ejecución del proyecto en todas sus etapas:
1. Ingesta y procesamiento batch
2. Ingesta y procesamiento streaming
3. Serving en AstraDB

## 1. Preparación del entorno

In [ ]:
!git clone https://github.com/FranciscoFerrutti/Cloud-Provider-Analytics.git

In [ ]:
%cd Cloud-Provider-Analytics

In [ ]:
!pip install -r requirements.txt

In [ ]:
import os
from google.colab import userdata

datalake_base_path = os.getenv('DATALAKE_BASE_PATH')
if not datalake_base_path:
    datalake_base_path = userdata.get('DATALAKE_BASE_PATH')
    os.environ['DATALAKE_BASE_PATH'] = datalake_base_path

astra_host = os.getenv('ASTRA_HOST')
if not astra_host:
    astra_host = userdata.get('ASTRA_HOST')
    os.environ['ASTRA_HOST'] = astra_host


astra_db_id = os.getenv('ASTRA_DB_ID')
if not astra_db_id:
    astra_db_id = userdata.get('ASTRA_DB_ID')
    os.environ['ASTRA_DB_ID'] = astra_db_id


astra_db_region = os.getenv('ASTRA_DB_REGION')
if not astra_db_region:
    astra_db_region = userdata.get('ASTRA_DB_REGION')
    os.environ['ASTRA_DB_REGION'] = astra_db_region


astra_db_application_token = os.getenv('ASTRA_DB_APPLICATION_TOKEN')
if not astra_db_application_token:
    astra_db_application_token = userdata.get('ASTRA_DB_APPLICATION_TOKEN')
    os.environ['ASTRA_DB_APPLICATION_TOKEN'] = astra_db_application_token


astra_db_keyspace = os.getenv('ASTRA_DB_KEYSPACE')
if not astra_db_keyspace:
    astra_db_keyspace = userdata.get('ASTRA_DB_KEYSPACE')
    os.environ['ASTRA_DB_KEYSPACE'] = astra_db_keyspace

astra_token = os.getenv('ASTRA_TOKEN')
if not astra_token:
    astra_token = userdata.get('ASTRA_TOKEN')
    os.environ['ASTRA_TOKEN'] = astra_token

astra_keyspace = os.getenv('ASTRA_KEYSPACE_NAME')
if not astra_keyspace:
    astra_keyspace = userdata.get('ASTRA_KEYSPACE_NAME')
    os.environ['ASTRA_KEYSPACE_NAME'] = astra_keyspace


#os.environ['DATALAKE_BASE_PATH'] = userdata.get('DATALAKE_BASE_PATH')
#os.environ['ASTRA_HOST'] = userdata.get('ASTRA_HOST')
#os.environ['ASTRA_DB_ID'] = userdata.get('ASTRA_DB_ID')
#os.environ['ASTRA_DB_REGION'] = userdata.get('ASTRA_DB_REGION')
#os.environ['ASTRA_DB_APPLICATION_TOKEN'] = userdata.get('ASTRA_DB_APPLICATION_TOKEN')
#os.environ['ASTRA_DB_KEYSPACE'] = userdata.get('ASTRA_DB_KEYSPACE')
#os.environ['ASTRA_TOKEN'] = userdata.get('ASTRA_TOKEN')
#os.environ['ASTRA_KEYSPACE_NAME'] = userdata.get('ASTRA_KEYSPACE_NAME')

if not os.environ.get('DATALAKE_BASE_PATH') or not os.environ.get('ASTRA_HOST') or not os.environ.get('ASTRA_TOKEN') or not os.environ.get('ASTRA_KEYSPACE_NAME') or not os.environ.get('ASTRA_DB_ID') or not os.environ.get('ASTRA_DB_REGION') or not os.environ.get('ASTRA_DB_APPLICATION_TOKEN') or not os.environ.get('ASTRA_DB_KEYSPACE'):
    raise ValueError(f"""Missing environment variables:
    DATALAKE_BASE_PATH={os.environ.get('DATALAKE_BASE_PATH')}
    ASTRA_HOST={os.environ.get('ASTRA_HOST')}
    ASTRA_TOKEN={os.environ.get('ASTRA_TOKEN')}
    ASTRA_KEYSPACE_NAME={os.environ.get('ASTRA_KEYSPACE_NAME')}
    ASTRA_DB_ID={os.environ.get('ASTRA_DB_ID')}
    ASTRA_DB_REGION={os.environ.get('ASTRA_DB_REGION')}
    ASTRA_DB_APPLICATION_TOKEN={os.environ.get('ASTRA_DB_APPLICATION_TOKEN')}
    ASTRA_DB_KEYSPACE={os.environ.get('ASTRA_DB_KEYSPACE')}
    """)
else:
    print(f"""Successfully loaded environment variables:
    DATALAKE_BASE_PATH={os.environ.get('DATALAKE_BASE_PATH')}
    ASTRA_HOST={os.environ.get('ASTRA_HOST')}
    ASTRA_TOKEN={os.environ.get('ASTRA_TOKEN')}
    ASTRA_KEYSPACE_NAME={os.environ.get('ASTRA_KEYSPACE_NAME')}
    ASTRA_DB_ID={os.environ.get('ASTRA_DB_ID')}
    ASTRA_DB_REGION={os.environ.get('ASTRA_DB_REGION')}
    ASTRA_DB_APPLICATION_TOKEN={os.environ.get('ASTRA_DB_APPLICATION_TOKEN')}
    ASTRA_DB_KEYSPACE={os.environ.get('ASTRA_DB_KEYSPACE')}
    """)

## 2. Ejecución del pipeline

In [33]:
!python main.py --etl-only

WARNING: Using incubator modules: jdk.incubator.vector
Using Spark's default log4j profile: org/apache/spark/log4j2-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
2026-02-05 04:41:08 - numexpr.utils - INFO - NumExpr defaulting to 2 threads.
26/02/05 04:41:09 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
2026-02-05 04:41:16 - src.utils.spark_utils - INFO - Spark session created: CloudProviderAnalytics
2026-02-05 04:41:16 - src.pipeline - INFO - ==================================================
2026-02-05 04:41:16 - src.pipeline - INFO - Starting Batch Layer Processing
2026-02-05 04:41:16 - src.pipeline - INFO - ==================================================
2026-02-05 04:41:16 - src.ingestion.batch_ingestion - INFO - Starting batch ingestion from Landing to Bronze
2026-02-05 04:41:16 - src.ingestion.batch_ingestion - INFO - Ingesting customers_orgs from /content/drive/MyDrive/Electivas/BigData/datalake/landing/customers_orgs.csv to Bronze
2026-02-05 04:41:21 - src.ingestion.batch_ingestion - INFO - Saving to Bronze: /content/drive/MyDrive/Electivas/BigData/datalake/bronze/customers_orgs
26/02/05 04:41:25 WARN CSVHeaderChecker: Number of column in CSV header is not equal to number of fields in the schema:
 Header length: 11, schema size: 5
CSV file: file:///content/drive/MyDrive/Electivas/BigData/datalake/landing/customers_orgs.csv
2026-02-05 04:41:28 - src.ingestion.batch_ingestion - INFO - Successfully ingested 80 records to Bronze/customers_orgs
2026-02-05 04:41:28 - src.ingestion.batch_ingestion - INFO - Ingesting users from /content/drive/MyDrive/Electivas/BigData/datalake/landing/users.csv to Bronze
2026-02-05 04:41:29 - src.ingestion.batch_ingestion - INFO - Saving to Bronze: /content/drive/MyDrive/Electivas/BigData/datalake/bronze/users
26/02/05 04:41:29 WARN CSVHeaderChecker: Number of column in CSV header is not equal to number of fields in the schema:
 Header length: 7, schema size: 5
CSV file: file:///content/drive/MyDrive/Electivas/BigData/datalake/landing/users.csv
2026-02-05 04:41:30 - src.ingestion.batch_ingestion - INFO - Successfully ingested 800 records to Bronze/users
2026-02-05 04:41:30 - src.ingestion.batch_ingestion - INFO - Ingesting resources from /content/drive/MyDrive/Electivas/BigData/datalake/landing/resources.csv to Bronze
2026-02-05 04:41:31 - src.ingestion.batch_ingestion - INFO - Saving to Bronze: /content/drive/MyDrive/Electivas/BigData/datalake/bronze/resources
26/02/05 04:41:32 WARN CSVHeaderChecker: Number of column in CSV header is not equal to number of fields in the schema:
 Header length: 7, schema size: 6
CSV file: file:///content/drive/MyDrive/Electivas/BigData/datalake/landing/resources.csv
2026-02-05 04:41:33 - src.ingestion.batch_ingestion - INFO - Successfully ingested 400 records to Bronze/resources
2026-02-05 04:41:33 - src.ingestion.batch_ingestion - INFO - Ingesting support_tickets from /content/drive/MyDrive/Electivas/BigData/datalake/landing/support_tickets.csv to Bronze
2026-02-05 04:41:34 - src.ingestion.batch_ingestion - INFO - Saving to Bronze: /content/drive/MyDrive/Electivas/BigData/datalake/bronze/support_tickets
2026-02-05 04:41:49 - src.ingestion.batch_ingestion - INFO - Successfully ingested 1000 records to Bronze/support_tickets
2026-02-05 04:41:49 - src.ingestion.batch_ingestion - INFO - Ingesting marketing_touches from /content/drive/MyDrive/Electivas/BigData/datalake/landing/marketing_touches.csv to Bronze
2026-02-05 04:41:49 - src.ingestion.batch_ingestion - INFO - Saving to Bronze: /content/drive/MyDrive/Electivas/BigData/datalake/bronze/marketing_touches
26/02/05 04:41:52 WARN CSVHeaderChecker: Number of column in CSV header is not equal to number of fields in the schema:
 Header length: 7, schema size: 5
CSV file: file:///content/drive/MyDrive/Electivas/BigData/datalake/landing/marketing_touches.csv
2026-02-05 04:42:02 - src.ingestion.batch_ingestion - INFO - Successfully ingested 1500 records to Bronze/marketing_touches
2026-02-05 04:42:02 - src.ingestion.batch_ingestion - INFO - Ingesting nps_surveys from /content/drive/MyDrive/Electivas/BigData/datalake/landing/nps_surveys.csv to Bronze
2026-02-05 04:42:02 - src.ingestion.batch_ingestion - INFO - Saving to Bronze: /content/drive/MyDrive/Electivas/BigData/datalake/bronze/nps_surveys
26/02/05 04:42:03 WARN CSVHeaderChecker: Number of column in CSV header is not equal to number of fields in the schema:
 Header length: 4, schema size: 6
CSV file: file:///content/drive/MyDrive/Electivas/BigData/datalake/landing/nps_surveys.csv
2026-02-05 04:42:04 - src.ingestion.batch_ingestion - INFO - Successfully ingested 92 records to Bronze/nps_surveys
2026-02-05 04:42:04 - src.ingestion.batch_ingestion - INFO - Ingesting billing_monthly from /content/drive/MyDrive/Electivas/BigData/datalake/landing/billing_monthly.csv to Bronze
2026-02-05 04:42:04 - src.ingestion.batch_ingestion - INFO - Saving to Bronze: /content/drive/MyDrive/Electivas/BigData/datalake/bronze/billing_monthly
2026-02-05 04:42:06 - src.ingestion.batch_ingestion - INFO - Successfully ingested 240 records to Bronze/billing_monthly
2026-02-05 04:42:06 - src.ingestion.batch_ingestion - INFO - Ingesting usage_events_stream from /content/drive/MyDrive/Electivas/BigData/datalake/landing/usage_events_stream to Bronze
2026-02-05 04:42:12 - src.ingestion.batch_ingestion - INFO - Renamed 'timestamp' column to 'event_ts'
2026-02-05 04:42:12 - src.ingestion.batch_ingestion - WARNING - Column user_id missing from source, filling with null
2026-02-05 04:42:13 - src.quality.validators - INFO - Validating usage events
2026-02-05 04:42:22 - src.quality.validators - INFO - Validation complete: 40956 valid, 2244 invalid records
2026-02-05 04:42:26 - src.quality.validators - WARNING - Saving 2244 invalid records to /content/drive/MyDrive/Electivas/BigData/datalake/quarantine/bronze/usage_events
2026-02-05 04:42:29 - src.quality.validators - INFO - Deduplicating by event_id
2026-02-05 04:42:29 - src.ingestion.batch_ingestion - INFO - Saving to Bronze: /content/drive/MyDrive/Electivas/BigData/datalake/bronze/usage_events
2026-02-05 04:42:50 - src.ingestion.batch_ingestion - INFO - Successfully ingested 40956 records to Bronze/usage_events
2026-02-05 04:42:50 - src.ingestion.batch_ingestion - INFO - Batch ingestion from Landing to Bronze completed
2026-02-05 04:42:50 - src.pipeline - INFO - Batch Layer Processing Completed
2026-02-05 04:42:50 - src.pipeline - INFO - ==================================================
2026-02-05 04:42:50 - src.pipeline - INFO - Starting Silver Layer Processing
2026-02-05 04:42:50 - src.pipeline - INFO - ==================================================
2026-02-05 04:42:50 - src.silver.transformations - INFO - Starting billing_monthly Silver transformation
2026-02-05 04:42:51 - src.silver.transformations - INFO - Initial billing count: 240
2026-02-05 04:42:52 - src.quality.validators - INFO - No invalid records to quarantine
2026-02-05 04:42:53 - src.silver.transformations - INFO - billing_monthly Silver transformation completed. Saved to /content/drive/MyDrive/Electivas/BigData/datalake/silver/billing_processed
2026-02-05 04:42:53 - src.silver.transformations - INFO - Starting Silver transformation pipeline
2026-02-05 04:42:53 - src.silver.schema_manager - INFO - Standardizing schema for usage_events
2026-02-05 04:42:53 - src.silver.transformations - INFO - Normalizing dates from event_ts
2026-02-05 04:42:53 - src.silver.transformations - INFO - Normalizing regions
2026-02-05 04:42:53 - src.silver.transformations - INFO - Normalizing services
2026-02-05 04:42:54 - src.silver.transformations - INFO - Handling null values
2026-02-05 04:42:54 - src.silver.transformations - INFO - Handling outliers
2026-02-05 04:42:59 - src.silver.transformations - INFO - Enriching with master data
2026-02-05 04:43:00 - src.silver.transformations - INFO - Enriching usage events with exchange rates
2026-02-05 04:43:00 - src.silver.transformations - INFO - Calculating daily metrics
2026-02-05 04:43:00 - src.silver.transformations - INFO - Silver transformation pipeline completed
2026-02-05 04:43:00 - src.silver.anomaly_detection - INFO - Applying all anomaly detection methods
2026-02-05 04:43:00 - src.silver.anomaly_detection - INFO - Detecting anomalies using z-score for daily_cost_usd
2026-02-05 04:43:14 - src.silver.anomaly_detection - INFO - Detecting anomalies using MAD for daily_cost_usd
2026-02-05 04:43:29 - src.silver.anomaly_detection - INFO - Detecting anomalies using percentiles for daily_cost_usd
2026-02-05 04:43:47 - src.silver.anomaly_detection - INFO - Detected 6657 anomalies out of 13925 records
2026-02-05 04:43:47 - src.silver.transformations - INFO - Saving to Silver: /content/drive/MyDrive/Electivas/BigData/datalake/silver/usage_events
2026-02-05 04:44:34 - src.silver.transformations - INFO - Successfully saved 13925 records to Silver/usage_events
2026-02-05 04:44:34 - src.pipeline - INFO - Processing Support Tickets (Silver)
2026-02-05 04:44:35 - src.silver.transformations - INFO - Transforming support tickets
2026-02-05 04:44:35 - src.silver.transformations - INFO - Normalizing dates from created_at
2026-02-05 04:44:35 - src.silver.transformations - INFO - Saving to Silver: /content/drive/MyDrive/Electivas/BigData/datalake/silver/support_tickets
2026-02-05 04:44:54 - src.silver.transformations - INFO - Successfully saved 1000 records to Silver/support_tickets
2026-02-05 04:44:54 - src.pipeline - INFO - Silver Layer Processing Completed
2026-02-05 04:44:54 - src.pipeline - INFO - Processing Silver Dimensions with SCD Type 2
2026-02-05 04:44:54 - src.silver.scd_manager - INFO - Applying SCD Type 2 for customers_orgs
2026-02-05 04:44:54 - src.silver.scd_manager - INFO - Loaded existing dimension from /content/drive/MyDrive/Electivas/BigData/datalake/silver/customers_orgs
2026-02-05 04:44:55 - src.silver.scd_manager - INFO - Applying SCD Type 2 for users
2026-02-05 04:44:55 - src.silver.scd_manager - INFO - Loaded existing dimension from /content/drive/MyDrive/Electivas/BigData/datalake/silver/users
2026-02-05 04:44:55 - src.silver.scd_manager - INFO - Applying SCD Type 2 for resources
2026-02-05 04:44:55 - src.silver.scd_manager - INFO - Loaded existing dimension from /content/drive/MyDrive/Electivas/BigData/datalake/silver/resources
2026-02-05 04:44:55 - src.pipeline - INFO - Silver Dimensions Processing Completed
2026-02-05 04:44:55 - src.pipeline - INFO - ==================================================
2026-02-05 04:44:55 - src.pipeline - INFO - Starting Gold Layer Processing
2026-02-05 04:44:55 - src.pipeline - INFO - ==================================================
2026-02-05 04:44:55 - src.gold.marts - INFO - Saving all Gold marts
2026-02-05 04:44:55 - src.gold.marts - INFO - Creating org_daily_usage_by_service mart
2026-02-05 04:44:58 - src.gold.marts - INFO - Creating revenue_by_org_month mart
2026-02-05 04:45:02 - src.gold.marts - INFO - Creating cost_anomaly_mart
2026-02-05 04:45:05 - src.gold.marts - INFO - Creating tickets_by_org_date mart
2026-02-05 04:45:06 - src.gold.marts - INFO - Creating genai_tokens_by_org_date mart
2026-02-05 04:45:10 - src.gold.marts - INFO - Saving org_daily_usage_by_service to /content/drive/MyDrive/Electivas/BigData/datalake/gold/org_daily_usage_by_service
2026-02-05 04:45:45 - src.gold.marts - INFO - Successfully saved 13925 records to Gold/org_daily_usage_by_service
2026-02-05 04:45:45 - src.gold.marts - INFO - Saving revenue_by_org_month to /content/drive/MyDrive/Electivas/BigData/datalake/gold/revenue_by_org_month
2026-02-05 04:46:01 - src.gold.marts - INFO - Successfully saved 240 records to Gold/revenue_by_org_month
2026-02-05 04:46:01 - src.gold.marts - INFO - Saving cost_anomaly_mart to /content/drive/MyDrive/Electivas/BigData/datalake/gold/cost_anomaly_mart
2026-02-05 04:46:51 - src.gold.marts - INFO - Successfully saved 6657 records to Gold/cost_anomaly_mart
2026-02-05 04:46:51 - src.gold.marts - INFO - Saving tickets_by_org_date to /content/drive/MyDrive/Electivas/BigData/datalake/gold/tickets_by_org_date
2026-02-05 04:47:13 - src.gold.marts - INFO - Successfully saved 984 records to Gold/tickets_by_org_date
2026-02-05 04:47:13 - src.gold.marts - INFO - Saving genai_tokens_by_org_date to /content/drive/MyDrive/Electivas/BigData/datalake/gold/genai_tokens_by_org_date
2026-02-05 04:47:43 - src.gold.marts - INFO - Successfully saved 1131 records to Gold/genai_tokens_by_org_date
2026-02-05 04:47:43 - src.pipeline - INFO - Gold Layer Processing Completed
2026-02-05 04:47:43 - __main__ - INFO - ETL Pipeline (Batch->Silver->Gold) Completed

## 3. Serving en AstraDB

In [34]:
!python main.py --layer serving

WARNING: Using incubator modules: jdk.incubator.vector
Using Spark's default log4j profile: org/apache/spark/log4j2-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
2026-02-05 04:49:47 - numexpr.utils - INFO - NumExpr defaulting to 2 threads.
26/02/05 04:49:47 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
2026-02-05 04:49:59 - src.utils.spark_utils - INFO - Spark session created: CloudProviderAnalytics
2026-02-05 04:49:59 - src.pipeline - INFO - ==================================================
2026-02-05 04:49:59 - src.pipeline - INFO - Starting Serving Layer Processing
2026-02-05 04:49:59 - src.pipeline - INFO - ==================================================
2026-02-05 04:49:59 - src.serving.loader - INFO - Initializing AstraDB Collections
2026-02-05 04:49:59 - src.serving.astradb_setup - INFO - Connecting to AstraDB...
2026-02-05 04:49:59 - src.serving.astradb_setup - INFO - Connected to Database at https://39b282f3-ae9b-44b2-ac77-264378a77b2c-us-east1.apps.astra.datastax.com, namespace: cloud_analytics
2026-02-05 04:49:59 - src.serving.astradb_setup - INFO - Initializing collection: org_daily_usage_by_service
2026-02-05 04:49:59 - astrapy.data.database - INFO - createCollection('org_daily_usage_by_service')
2026-02-05 04:50:14 - httpx - INFO - HTTP Request: POST https://39b282f3-ae9b-44b2-ac77-264378a77b2c-us-east1.apps.astra.datastax.com/api/json/v1/cloud_analytics "HTTP/1.1 200 OK"
2026-02-05 04:50:14 - astrapy.data.database - INFO - finished createCollection('org_daily_usage_by_service')
2026-02-05 04:50:14 - src.serving.astradb_setup - INFO - Created collection: org_daily_usage_by_service
2026-02-05 04:50:14 - src.serving.astradb_setup - INFO - Initializing collection: revenue_by_org_month
2026-02-05 04:50:14 - astrapy.data.database - INFO - createCollection('revenue_by_org_month')
2026-02-05 04:50:29 - httpx - INFO - HTTP Request: POST https://39b282f3-ae9b-44b2-ac77-264378a77b2c-us-east1.apps.astra.datastax.com/api/json/v1/cloud_analytics "HTTP/1.1 200 OK"
2026-02-05 04:50:29 - astrapy.data.database - INFO - finished createCollection('revenue_by_org_month')
2026-02-05 04:50:29 - src.serving.astradb_setup - INFO - Created collection: revenue_by_org_month
2026-02-05 04:50:29 - src.serving.astradb_setup - INFO - Initializing collection: cost_anomaly_mart
2026-02-05 04:50:29 - astrapy.data.database - INFO - createCollection('cost_anomaly_mart')
2026-02-05 04:50:45 - httpx - INFO - HTTP Request: POST https://39b282f3-ae9b-44b2-ac77-264378a77b2c-us-east1.apps.astra.datastax.com/api/json/v1/cloud_analytics "HTTP/1.1 200 OK"
2026-02-05 04:50:45 - astrapy.data.database - INFO - finished createCollection('cost_anomaly_mart')
2026-02-05 04:50:46 - src.serving.astradb_setup - INFO - Created collection: cost_anomaly_mart
2026-02-05 04:50:46 - src.serving.astradb_setup - INFO - Initializing collection: tickets_by_org_date
2026-02-05 04:50:46 - astrapy.data.database - INFO - createCollection('tickets_by_org_date')
2026-02-05 04:51:02 - httpx - INFO - HTTP Request: POST https://39b282f3-ae9b-44b2-ac77-264378a77b2c-us-east1.apps.astra.datastax.com/api/json/v1/cloud_analytics "HTTP/1.1 200 OK"
2026-02-05 04:51:02 - astrapy.data.database - INFO - finished createCollection('tickets_by_org_date')
2026-02-05 04:51:02 - src.serving.astradb_setup - INFO - Created collection: tickets_by_org_date
2026-02-05 04:51:02 - src.serving.astradb_setup - INFO - Initializing collection: genai_tokens_by_org_date
2026-02-05 04:51:02 - astrapy.data.database - INFO - createCollection('genai_tokens_by_org_date')
2026-02-05 04:51:19 - httpx - INFO - HTTP Request: POST https://39b282f3-ae9b-44b2-ac77-264378a77b2c-us-east1.apps.astra.datastax.com/api/json/v1/cloud_analytics "HTTP/1.1 200 OK"
2026-02-05 04:51:19 - astrapy.data.database - INFO - finished createCollection('genai_tokens_by_org_date')
2026-02-05 04:51:19 - src.serving.astradb_setup - INFO - Created collection: genai_tokens_by_org_date
2026-02-05 04:51:19 - src.serving.astradb_setup - INFO - Infrastructure setup completed.
2026-02-05 04:51:19 - src.serving.loader - INFO - Loading all Gold marts to AstraDB
2026-02-05 04:51:19 - src.serving.loader - INFO - Loading org_daily_usage_by_service to AstraDB Collection org_daily_usage_by_service
2026-02-05 04:51:40 - src.serving.loader - INFO - Successfully loaded org_daily_usage_by_service to Astra/org_daily_usage_by_service
2026-02-05 04:51:40 - src.serving.loader - INFO - Loading revenue_by_org_month to AstraDB Collection revenue_by_org_month
2026-02-05 04:51:42 - src.serving.loader - INFO - Successfully loaded revenue_by_org_month to Astra/revenue_by_org_month
2026-02-05 04:51:42 - src.serving.loader - INFO - Loading cost_anomaly_mart to AstraDB Collection cost_anomaly_mart
2026-02-05 04:52:02 - src.serving.loader - INFO - Successfully loaded cost_anomaly_mart to Astra/cost_anomaly_mart
2026-02-05 04:52:02 - src.serving.loader - INFO - Loading tickets_by_org_date to AstraDB Collection tickets_by_org_date
2026-02-05 04:52:10 - src.serving.loader - INFO - Successfully loaded tickets_by_org_date to Astra/tickets_by_org_date
2026-02-05 04:52:10 - src.serving.loader - INFO - Loading genai_tokens_by_org_date to AstraDB Collection genai_tokens_by_org_date
2026-02-05 04:52:16 - src.serving.loader - INFO - Successfully loaded genai_tokens_by_org_date to Astra/genai_tokens_by_org_date
2026-02-05 04:52:16 - src.pipeline - INFO - Serving Layer Processing Completed

# Queries mínimas implementadas

## 0. Setup para ejecutar las queries

In [35]:
!pip install astrapy pandas

Requirement already satisfied: astrapy in /usr/local/lib/python3.12/dist-packages (2.1.0)
Requirement already satisfied: pandas in /usr/local/lib/python3.12/dist-packages (2.2.2)
Requirement already satisfied: deprecation~=2.1.0 in /usr/local/lib/python3.12/dist-packages (from astrapy) (2.1.0)
Requirement already satisfied: h11>=0.16.0 in /usr/local/lib/python3.12/dist-packages (from astrapy) (0.16.0)
Requirement already satisfied: httpx<1,>=0.25.2 in /usr/local/lib/python3.12/dist-packages (from httpx[http2]<1,>=0.25.2->astrapy) (0.28.1)
Requirement already satisfied: pymongo>=3 in /usr/local/lib/python3.12/dist-packages (from astrapy) (4.16.0)
Requirement already satisfied: toml<1.0.0,>=0.10.2 in /usr/local/lib/python3.12/dist-packages (from astrapy) (0.10.2)
Requirement already satisfied: typing-extensions>=4.0 in /usr/local/lib/python3.12/dist-packages (from astrapy) (4.15.0)
Requirement already satisfied: uuid6>=2024.1.12 in /usr/local/lib/python3.12/dist-packages (from astrapy) (2025.0.1)
Requirement already satisfied: numpy>=1.26.0 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.3)
Requirement already satisfied: packaging in /usr/local/lib/python3.12/dist-packages (from deprecation~=2.1.0->astrapy) (25.0)
Requirement already satisfied: anyio in /usr/local/lib/python3.12/dist-packages (from httpx<1,>=0.25.2->httpx[http2]<1,>=0.25.2->astrapy) (4.12.1)
Requirement already satisfied: certifi in /usr/local/lib/python3.12/dist-packages (from httpx<1,>=0.25.2->httpx[http2]<1,>=0.25.2->astrapy) (2026.1.4)
Requirement already satisfied: httpcore==1.* in /usr/local/lib/python3.12/dist-packages (from httpx<1,>=0.25.2->httpx[http2]<1,>=0.25.2->astrapy) (1.0.9)
Requirement already satisfied: idna in /usr/local/lib/python3.12/dist-packages (from httpx<1,>=0.25.2->httpx[http2]<1,>=0.25.2->astrapy) (3.11)
Requirement already satisfied: h2<5,>=3 in /usr/local/lib/python3.12/dist-packages (from httpx[http2]<1,>=0.25.2->astrapy) (4.3.0)
Requirement already satisfied: dnspython<3.0.0,>=2.6.1 in /usr/local/lib/python3.12/dist-packages (from pymongo>=3->astrapy) (2.8.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.12/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Requirement already satisfied: hyperframe<7,>=6.1 in /usr/local/lib/python3.12/dist-packages (from h2<5,>=3->httpx[http2]<1,>=0.25.2->astrapy) (6.1.0)
Requirement already satisfied: hpack<5,>=4.1 in /usr/local/lib/python3.12/dist-packages (from h2<5,>=3->httpx[http2]<1,>=0.25.2->astrapy) (4.1.0)

In [ ]:
import os
import pandas as pd
from astrapy.client import DataAPIClient

# ---------------------------------------------------------
# CONFIGURATION
# ---------------------------------------------------------
# Try loading from Colab UserData, fallback to Environment Variables
try:
    from google.colab import userdata
    ASTRA_TOKEN = userdata.get('ASTRA_TOKEN')
    ASTRA_DB_ID = userdata.get('ASTRA_DB_ID')
    ASTRA_DB_REGION = userdata.get('ASTRA_DB_REGION')
    ASTRA_KEYSPACE_NAME = userdata.get('ASTRA_KEYSPACE_NAME')
except ImportError:
    ASTRA_TOKEN = os.getenv("ASTRA_TOKEN")
    ASTRA_DB_ID = os.getenv("ASTRA_DB_ID")
    ASTRA_DB_REGION = os.getenv("ASTRA_DB_REGION")
    ASTRA_KEYSPACE_NAME = os.getenv("ASTRA_KEYSPACE_NAME")

# Query Parameters
ORG_ID = "org_253j2d54"
START_DATE = "2025-01-01"
END_DATE = "2025-12-31"

# ---------------------------------------------------------
# INITIALIZATION
# ---------------------------------------------------------
if not ASTRA_TOKEN or not ASTRA_DB_ID or not ASTRA_DB_REGION or not ASTRA_KEYSPACE_NAME:
    print(
        "WARNING: Missing AstraDB Configuration. "
        "Please ensure ASTRA_TOKEN, ASTRA_DB_ID, ASTRA_DB_REGION, and ASTRA_KEYSPACE_NAME are set."
    )
else:
    # Generic Endpoint Construction
    API_ENDPOINT = f"https://{ASTRA_DB_ID}-{ASTRA_DB_REGION}.apps.astra.datastax.com"

    print("Connecting to AstraDB...")
    client = DataAPIClient(token=ASTRA_TOKEN)

    db = client.get_database(
        API_ENDPOINT,
        keyspace=ASTRA_KEYSPACE_NAME
    )

    print(
        f"Connected to Database: {db.name} "
    )

### 1. Daily Cost & Requests by Org and Service (Range Query)
**Requirement**: Daily costs and requests by organization and service within a date range.

**Collection**: `org_daily_usage_by_service`

In [37]:
import pandas as pd

# -----------------------------
# Query Parameters
# -----------------------------
ORG_ID = "org_253j2d54"
SERVICE = "COMPUTE"
START_DATE = "2025-01-01"
END_DATE = "2025-12-31"

cql_q1 = f"""
-- Q1 (CQL) - Daily usage for one org + service in a date range
SELECT date, service, total_cost_usd, total_requests
FROM org_daily_usage_by_service
WHERE org_id = '{ORG_ID}'
  AND service = '{SERVICE}'
  AND date >= '{START_DATE}'
  AND date <= '{END_DATE}';
""".strip()

print(cql_q1)

usage_df = pd.DataFrame()

col_usage = db.get_collection("org_daily_usage_by_service")

query_filter = {
    "org_id": ORG_ID,
    "service": SERVICE,
    "date": {"$gte": START_DATE, "$lte": END_DATE}
}

projection = {
    "date": 1,
    "service": 1,
    "total_cost_usd": 1,
    "total_requests": 1,
    "_id": 0
}

cursor = col_usage.find(
    filter=query_filter,
    projection=projection
)

usage_df = pd.DataFrame(list(cursor))

usage_df

-- Q1 (CQL) - Daily usage for one org + service in a date range
SELECT date, service, total_cost_usd, total_requests
FROM org_daily_usage_by_service
WHERE org_id = 'org_253j2d54'
  AND service = 'COMPUTE'
  AND date >= '2025-01-01'
  AND date <= '2025-12-31';

          date  service  total_cost_usd  total_requests
0   2025-08-31  COMPUTE         22.3475               3
1   2025-08-21  COMPUTE          0.4351               3
2   2025-08-11  COMPUTE         10.5679               2
3   2025-07-12  COMPUTE         31.6937               3
4   2025-07-29  COMPUTE          0.5270               3
5   2025-07-18  COMPUTE         19.5389               3
6   2025-07-11  COMPUTE         11.4293               2
7   2025-08-29  COMPUTE          3.9481               3
8   2025-08-20  COMPUTE          1.8039               3
9   2025-07-03  COMPUTE         29.7993               3
10  2025-08-02  COMPUTE         11.9127               3
11  2025-08-07  COMPUTE          8.3389               3
12  2025-07-26  COMPUTE          0.6468               3
13  2025-07-13  COMPUTE         12.9410               3
14  2025-08-22  COMPUTE         18.7875               3
15  2025-07-19  COMPUTE         29.2843               3
16  2025-08-01  COMPUTE         28.9241               3
17  2025-08-05  COMPUTE         13.1608               3
18  2025-08-23  COMPUTE         11.5213               3
19  2025-07-30  COMPUTE         13.1958               3
20  2025-08-14  COMPUTE         18.9068               3
21  2025-07-23  COMPUTE         12.6346               3
22  2025-08-19  COMPUTE          1.5422               3
23  2025-08-06  COMPUTE         17.0243               2
24  2025-08-03  COMPUTE         11.2263               3
25  2025-08-08  COMPUTE          0.2692               3
26  2025-07-24  COMPUTE         11.7141               3
27  2025-08-04  COMPUTE         12.4757               3
28  2025-08-28  COMPUTE         14.2683               2
29  2025-08-09  COMPUTE         23.8511               3
30  2025-08-25  COMPUTE          9.5185               3
31  2025-08-15  COMPUTE         19.3621               3
32  2025-07-04  COMPUTE         21.6793               3

### 2. Top-N Services by Cost
**Requirement**: Top-N services by accumulated cost using a client-side aggregation strategy.

**Collection**: `org_daily_usage_by_service`

In [45]:
import pandas as pd

ORG_ID = "org_253j2d54"

usage_df = pd.DataFrame()

if "db" in locals():
    col_usage = db.get_collection("org_daily_usage_by_service")

    # Filtro básico (opcional pero recomendado para no traer todo)
    query_filter = {
        "org_id": ORG_ID
    }

    cursor = col_usage.find(query_filter)

    usage_df = pd.DataFrame(list(cursor))

usage_df

,_id,org_id,date,service,region,total_cost_usd,total_requests,total_cpu_hours,total_storage_gb_hours,total_genai_tokens,total_carbon_kg,year,month,day
0,cef46a44-721c-44c9-b46a-44721c64c9c9,org_253j2d54,2025-08-20,ANALYTICS,US-EAST,7.4227,3,0,6.4731,0.0,0.022495,2025,8,20
1,7c8251a3-27bd-4340-8251-a327bd5340b7,org_253j2d54,2025-07-25,ANALYTICS,US-EAST,13.5900,3,0,0.0000,0.0,0.043096,2025,7,25
2,2cd4a086-0d76-4e31-94a0-860d760e31c6,org_253j2d54,2025-08-31,COMPUTE,EU-WEST,22.3475,3,0,16.0553,0.0,0.053611,2025,8,31
3,f23788a5-5ae2-4ca5-b788-a55ae29ca568,org_253j2d54,2025-08-03,GENAI,US-EAST,14.9826,3,0,33.3648,875.0,0.029273,2025,8,3
4,c64707d3-f9e8-47b4-8707-d3f9e8d7b49c,org_253j2d54,2025-08-21,COMPUTE,EU-WEST,0.4351,3,0,0.0000,0.0,0.001214,2025,8,21
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
100,55641e0e-ac3c-4e25-a41e-0eac3c0e2528,org_253j2d54,2025-07-04,COMPUTE,EU-WEST,21.6793,3,0,0.0000,0.0,0.000000,2025,7,4
101,6abd0ef4-566d-4b76-bd0e-f4566d7b76a1,org_253j2d54,2025-08-22,GENAI,US-EAST,23.8477,3,0,0.0000,2312.0,0.043782,2025,8,22
102,7073ec52-94be-43ea-b3ec-5294be03eaa3,org_253j2d54,2025-08-01,GENAI,US-EAST,19.4758,3,0,12.4606,2542.0,0.023292,2025,8,1
103,ecb1cfcd-0e17-4284-b1cf-cd0e17228443,org_253j2d54,2025-08-17,GENAI,US-EAST,26.6264,3,0,0.0000,3742.0,0.039800,2025,8,17
104,d2b49771-44a6-4e2d-b497-7144a6ce2dff,org_253j2d54,2025-08-07,ANALYTICS,US-EAST,3.1585,3,0,43.2853,0.0,0.008875,2025,8,7

In [44]:
from datetime import datetime, timedelta, timezone
import pandas as pd

# -----------------------------
# Query Parameters
# -----------------------------
ORG_ID = "org_253j2d54"
N = 3
TIME_WINDOWS = [14, 30, 60, 90, 120, 150, 180, 210]

END_DATE = datetime.now(timezone.utc)
start_date = datetime.now(timezone.utc) - timedelta(days=30)

cql_q2 = f"""
-- Q2 (CQL) - Fetch raw rows for a window (aggregation TOP-N is client-side)
-- Window: last 30 days ({start_date} -> {END_DATE})
SELECT service, total_cost_usd
FROM org_daily_usage_by_service
WHERE org_id = '{ORG_ID}'
  AND date >= '{start_date.isoformat()}'
  AND date <= '{END_DATE.isoformat()}';
""".strip()

print(cql_q2)

top_services_df = pd.DataFrame()
used_window = None

if "db" in locals():
    col_usage = db.get_collection("org_daily_usage_by_service")

    end_date_str = END_DATE.date().isoformat()

    for window in TIME_WINDOWS:
        start_date = END_DATE - timedelta(days=window)

        query_filter = {
            "org_id": ORG_ID,
            "date": {
                "$gte": start_date.date().isoformat(),
                "$lte": end_date_str
            }
        }

        projection = {
            "service": 1,
            "total_cost_usd": 1,
            "_id": 0
        }

        cursor = col_usage.find(
            filter=query_filter,
            projection=projection
        )

        docs = list(cursor)

        if docs:
            df = pd.DataFrame(docs)
            used_window = window
            break

    # -----------------------------
    # Client-side aggregation
    # -----------------------------
    if not df.empty:
        top_services_df = (
            df.groupby("service", as_index=False)["total_cost_usd"]
              .sum()
              .sort_values("total_cost_usd", ascending=False)
              .head(N)
        )

        top_services_df["window_days"] = used_window

top_services_df

-- Q2 (CQL) - Fetch raw rows for a window (aggregation TOP-N is client-side)
-- Window: last 30 days (2026-01-06 05:39:04.553757+00:00 -> 2026-02-05 05:39:04.553676+00:00)
SELECT service, total_cost_usd
FROM org_daily_usage_by_service
WHERE org_id = 'org_253j2d54'
  AND date >= '2026-01-06T05:39:04.553757+00:00'
  AND date <= '2026-02-05T05:39:04.553676+00:00';

     service  total_cost_usd  window_days
2      GENAI       295.01120          180
0  ANALYTICS       189.11418          180
1    COMPUTE       156.86030          180

### 3. Tickets Evolution & SLA Breach Rate
**Requirement**: Evolution of critical tickets and SLA breach rate per day.

**Collection**: `tickets_by_org_date`

In [40]:
TIME_WINDOWS = [30, 210] # Try 30 days first

col_tickets = db.get_collection("tickets_by_org_date")

# ------------------------------------------------------------------
# Extracción con fallback temporal
# ------------------------------------------------------------------
df = pd.DataFrame()

today = datetime.utcnow().date()
start_date = today - timedelta(days=TIME_WINDOWS[0])

cql_q3 = f"""
-- Q3 (CQL) - Fetch CRITICAL tickets in a date window
-- NOTE: Cassandra typically requires partition key filters (e.g., org_id).
-- This query assumes a table/model that supports querying by severity + date.
SELECT ticket_date, severity, total_tickets, sla_breach_count, avg_resolution_hours
FROM tickets_by_org_date
WHERE severity = 'critical'
  AND ticket_date >= '{start_date.isoformat()}'
  AND ticket_date <= '{today.isoformat()}';
""".strip()

print(cql_q3)

for days in TIME_WINDOWS:
    start_date = today - timedelta(days=days)

    print(f"Trying last {days} days (from {start_date})...")

    docs = col_tickets.find(
        filter={
            "severity": "critical"
        },
        projection={
            "ticket_date": 1,
            "severity": 1,
            "total_tickets": 1,
            "sla_breach_count": 1,
            "avg_resolution_hours": 1,
            "_id": 0
        }
    )

    tmp_df = pd.DataFrame(list(docs))

    if tmp_df.empty:
        continue

    # Asegurar tipo fecha y filtrar por ventana
    tmp_df["ticket_date"] = pd.to_datetime(tmp_df["ticket_date"]).dt.date
    tmp_df = tmp_df[tmp_df["ticket_date"] >= start_date]

    if not tmp_df.empty:
        df = tmp_df
        print(f"Data found for last {days} days")
        break

# ------------------------------------------------------------------
# Si no hay datos
# ------------------------------------------------------------------
if df.empty:
    print("No data found up to 210 days")
    result_df = df

else:
    # ------------------------------------------------------------------
    # Re-agregación global (sin org_id)
    # ------------------------------------------------------------------
    result_df = (
        df.groupby(["ticket_date", "severity"], as_index=False)
          .apply(
              lambda g: pd.Series({
                  "Total Tickets": g["total_tickets"].sum(),
                  "SLA Breach Rate": (
                      g["sla_breach_count"].sum() / g["total_tickets"].sum()
                      if g["total_tickets"].sum() > 0 else 0.0
                  ),
                  "Avg Resolution Hours": (
                      (g["avg_resolution_hours"] * g["total_tickets"]).sum()
                      / g["total_tickets"].sum()
                      if g["total_tickets"].sum() > 0 else None
                  )
              })
          )
          .reset_index(drop=True)
    )

    result_df = result_df.rename(columns={
        "ticket_date": "Date",
        "severity": "Severity"
    })

    result_df["Date"] = pd.to_datetime(result_df["Date"])
    result_df = result_df.sort_values("Date")

# ------------------------------------------------------------------
# Resultado final
# ------------------------------------------------------------------
result_df

/tmp/ipython-input-2220511555.py:10: DeprecationWarning: datetime.datetime.utcnow() is deprecated and scheduled for removal in a future version. Use timezone-aware objects to represent datetimes in UTC: datetime.datetime.now(datetime.UTC).
  today = datetime.utcnow().date()

-- Q3 (CQL) - Fetch CRITICAL tickets in a date window
-- NOTE: Cassandra typically requires partition key filters (e.g., org_id).
-- This query assumes a table/model that supports querying by severity + date.
SELECT ticket_date, severity, total_tickets, sla_breach_count, avg_resolution_hours
FROM tickets_by_org_date
WHERE severity = 'critical'
  AND ticket_date >= '2026-01-06'
  AND ticket_date <= '2026-02-05';
Trying last 30 days (from 2026-01-06)...
Trying last 210 days (from 2025-07-10)...
Data found for last 210 days

/tmp/ipython-input-2220511555.py:72: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  .apply(

         Date  Severity  Total Tickets  SLA Breach Rate  Avg Resolution Hours
0  2025-07-12  critical            1.0              0.0                   0.0
1  2025-07-18  critical            1.0              0.0                  96.0
2  2025-07-20  critical            1.0              1.0                   0.0
3  2025-07-21  critical            3.0              0.0                 208.0
4  2025-07-22  critical            2.0              0.0                   0.0
5  2025-07-27  critical            1.0              0.0                  48.0
6  2025-07-28  critical            1.0              0.0                  24.0
7  2025-07-29  critical            2.0              0.0                 120.0
8  2025-07-30  critical            1.0              0.0                 120.0
9  2025-07-31  critical            1.0              0.0                  24.0
10 2025-08-02  critical            1.0              0.0                 144.0
11 2025-08-04  critical            2.0              0.0                   0.0
12 2025-08-05  critical            1.0              0.0                   0.0
13 2025-08-08  critical            1.0              0.0                   0.0
14 2025-08-09  critical            1.0              0.0                  48.0
15 2025-08-11  critical            1.0              0.0                 312.0
16 2025-08-12  critical            1.0              0.0                  48.0
17 2025-08-15  critical            1.0              0.0                   0.0
18 2025-08-17  critical            1.0              0.0                  72.0
19 2025-08-20  critical            2.0              0.0                  72.0
20 2025-08-23  critical            1.0              0.0                  24.0
21 2025-08-24  critical            1.0              0.0                   0.0
22 2025-08-27  critical            1.0              0.0                  48.0
23 2025-08-28  critical            1.0              0.0                 168.0
24 2025-08-31  critical            1.0              0.0                 168.0

### 4. Monthly Revenue
**Requirement**: Monthly revenue, ordered by latest date.

**Collection**: `revenue_by_org_month`

In [41]:
import pandas as pd

# -----------------------------
# Query Parameters
# -----------------------------
ORG_ID = "org_253j2d54"

revenue_df = pd.DataFrame()

cql_q4 = f"""
-- Q4 (CQL) - Last 12 months revenue for one org
SELECT year, month, total_revenue_usd
FROM revenue_by_org_month
WHERE org_id = '{ORG_ID}'
ORDER BY year DESC, month DESC
LIMIT 12;
""".strip()

print(cql_q4)

if "db" in locals():
    col_revenue = db.get_collection("revenue_by_org_month")

    query_filter = {"org_id": ORG_ID}
    sort = {"year": -1, "month": -1}

    cursor = col_revenue.find(
        filter=query_filter,
        sort=sort,
        limit=12,
        projection={
            "year": 1,
            "month": 1,
            "total_revenue_usd": 1,
            "_id": 0
        }
    )

    revenue_df = pd.DataFrame(list(cursor))

    if not revenue_df.empty:
        revenue_df["period"] = pd.to_datetime(
            revenue_df["year"].astype(str) + "-" +
            revenue_df["month"].astype(str) + "-01"
        )

        revenue_df = revenue_df.sort_values("period")

revenue_df

-- Q4 (CQL) - Last 12 months revenue for one org
SELECT year, month, total_revenue_usd
FROM revenue_by_org_month
WHERE org_id = 'org_253j2d54'
ORDER BY year DESC, month DESC
LIMIT 12;

   total_revenue_usd  year  month     period
2        1481.598783  2025      6 2025-06-01
1         841.797709  2025      7 2025-07-01
0         499.338422  2025      8 2025-08-01

### 5. GenAI Tokens & Cost
**Requirement**: Daily GenAI usage stats.

**Collection**: `genai_tokens_by_org_date`

In [42]:
ORG_ID = "org_253j2d54"

cql_q5 = f"""
-- Q5 (CQL) - GenAI tokens and cost by day for one org
SELECT org_id, year, month, day, total_tokens, genai_cost_usd
FROM genai_tokens_by_org_date
WHERE org_id = '{ORG_ID}'
ORDER BY year ASC, month ASC, day ASC;
""".strip()

print(cql_q5)

col_genai = db.get_collection("genai_tokens_by_org_date")

docs = list(
    col_genai.find(
        filter={"org_id": ORG_ID},
        projection={
            "org_id": 1,
            "year": 1,
            "month": 1,
            "day": 1,
            "total_tokens": 1,
            "genai_cost_usd": 1
        }
    )
)

df = pd.DataFrame(docs)

# Limpieza defensiva
df = df.drop(columns=["_id"], errors="ignore")

# Verificación explícita (útil para debug)
print(df.columns)

# Ordenar
df = df.sort_values(["year", "month", "day"]).reset_index(drop=True)

df

-- Q5 (CQL) - GenAI tokens and cost by day for one org
SELECT org_id, year, month, day, total_tokens, genai_cost_usd
FROM genai_tokens_by_org_date
WHERE org_id = 'org_253j2d54'
ORDER BY year ASC, month ASC, day ASC;
Index(['org_id', 'total_tokens', 'genai_cost_usd', 'year', 'month', 'day'], dtype='object')

          org_id  total_tokens  genai_cost_usd  year  month  day
0   org_253j2d54           0.0         26.4375  2025      7    9
1   org_253j2d54           0.0         31.9544  2025      7   13
2   org_253j2d54           0.0         14.6061  2025      7   15
3   org_253j2d54           0.0         23.1240  2025      7   16
4   org_253j2d54           0.0         25.7305  2025      7   17
5   org_253j2d54        2412.0         16.7360  2025      7   20
6   org_253j2d54        1407.0         23.4012  2025      7   21
7   org_253j2d54        2735.0         50.0148  2025      7   22
8   org_253j2d54        1979.0          2.3286  2025      7   23
9   org_253j2d54        2382.0         13.3776  2025      7   25
10  org_253j2d54        2904.0         36.5420  2025      7   26
11  org_253j2d54        3858.0          3.1891  2025      7   27
12  org_253j2d54        2821.0         14.0568  2025      7   28
13  org_253j2d54        2542.0         19.4758  2025      8    1
14  org_253j2d54        2519.0          3.2833  2025      8    2
15  org_253j2d54         875.0         14.9826  2025      8    3
16  org_253j2d54        1826.0         10.2542  2025      8    5
17  org_253j2d54        2313.0         18.1484  2025      8    7
18  org_253j2d54        1740.0         19.8025  2025      8    8
19  org_253j2d54        1942.0         38.8071  2025      8    9
20  org_253j2d54        2869.0         17.1506  2025      8   11
21  org_253j2d54        2390.0         13.7692  2025      8   12
22  org_253j2d54        3133.0          2.4129  2025      8   16
23  org_253j2d54        3742.0         26.6264  2025      8   17
24  org_253j2d54        1307.0          2.0229  2025      8   19
25  org_253j2d54        1750.0         15.1792  2025      8   20
26  org_253j2d54        2035.0         40.9993  2025      8   21
27  org_253j2d54        2312.0         23.8477  2025      8   22
28  org_253j2d54        1917.0         20.5591  2025      8   23
29  org_253j2d54        3434.0         49.3459  2025      8   24
30  org_253j2d54        1977.0         11.4798  2025      8   28
31  org_253j2d54        2589.0         19.2464  2025      8   30
32  org_253j2d54        1012.0         13.5647  2025      8   31