# Business Analytics Queries

This notebook contains example queries for business analytics using the Gold marts.

In [ ]:
from pyspark.sql import SparkSession
from src.utils.spark_utils import create_spark_session
from src.utils.config import Config
from pyspark.sql.functions import col, desc, sum as spark_sum

spark = create_spark_session("BusinessQueries")

# Read Gold marts
revenue_mart = spark.read.parquet(Config.get_gold_path("revenue_by_org_month"))
usage_mart = spark.read.parquet(Config.get_gold_path("org_daily_usage_by_service"))
anomaly_mart = spark.read.parquet(Config.get_gold_path("cost_anomaly_mart"))

## Top Organizations by Revenue

In [ ]:
# Top 10 organizations by monthly revenue
top_orgs = revenue_mart.groupBy("org_id") \
    .agg({"monthly_revenue_usd": "sum"}) \
    .orderBy(desc("sum(monthly_revenue_usd)")) \
    .limit(10)

top_orgs.show()